* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #e6e2d7;
}

/* ヘッダー */
/* 背景画像 */
header {
  height: 100vh;
  background-image: url(../img/mainvisual-pc.jpg);
  background-size: cover;
  background-position: center;
}

#menu-logo {
  display: flex;
  justify-content: flex-end;
  padding: 3% 3% 0 0;
}

#menu-logo > a > img {
  width: 2.5rem;
  margin: 0 1.5rem 0 2rem;
}

nav {
  writing-mode: vertical-rl;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 1.7rem;
}

nav > ul > li >a {
  color: white;
  text-decoration: none;
}

.button > a {
  color: white;
  background-color: #333333;
  box-shadow: none;
  outline: 1px solid whitesmoke;
  outline-offset: -9px;
  padding: 37px 26px;
  cursor: pointer;
  text-decoration: none;
  writing-mode: vertical-rl;
  position: absolute;
  top: 69%;
  left: 3%;
}


/* お知らせ */
#oshirase {
  margin: 10% auto;
  
}

#oshirase-nakami {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.taitle {
  margin: 0 2%;
  writing-mode: vertical-rl;
}

h2 {
  font-size: 2.3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

#nakami {
  padding-top: 80px;
  writing-mode: vertical-rl;
  margin-right: 8%;
}

.kiji ,.kiji-2 {
  border-right: 1px solid black;
  padding: 1rem 10%;
}

.kiji-2 {
  border-left: 1px solid black;
} 

time {
  font-size: 0.8rem;
}


/* 商品のご紹介 */
#wagashi-1 , #wagashi-2 {
  width: 100%;
  max-width: 1024px;
  margin: 10% auto;
  display: flex;
}

#wagashi-1 {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#wagashi-2 {
  justify-content: flex-start;
}

#img-text {
  width: 65%;
  padding-top: 20%;
  position: relative;
}

#img-text > img {
  max-width: 100%;
}


.text-1 , .text-2 {
  writing-mode: horizontal-tb;
}

.text-1 {
  background: rgba(249, 233, 6, 0.6);
  color: white;
  position: absolute;
  top: 82%;
  left: -4%;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-2 {
  background: rgba(139, 21, 19, 0.6);
  color: white;
  position: absolute;
  top: 82%;
  right: -4%;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 0.8rem;
  letter-spacing: normal;
  padding:  2rem 0;
}

/* 店舗のご案内 */



/* フッター */
footer {
  background-color: black;
}

#footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}

.jusho {
  color: white;
  writing-mode: vertical-rl;
  font-size: 0.8rem;
}

#copy {
  color: white;
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 2%;
}

#toiawase {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#toiawase > a {
  color: white;
  writing-mode: vertical-rl;
  text-decoration: none;
  padding: 1rem 0;
}

#toiawase > a:nth-child(2) {
  border-top: 1px solid white;
}

@media screen and (max-width: 768px) {
  header {
    background-image: url(../img/mainvisual-sp.jpg);
  }

  .button > a {
    top: 65%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .kiji ,.kiji-2 {
    padding: 1rem 7%;
  }

  .kiji-none {
    display: none;
  }

  .kiji-bor {
    border-left: 1px solid black;
  }

  #img-text {
    width: 80%;
  }

  span {
    display: none;
  }
}
