* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", "Merriweather Sans", sans-serif, "Shippori Mincho", serif;
}

header {
  width: 100%;
}

#home {
  position: relative;
}

#menubar {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.menu {
  display: flex;
}

nav {
  margin-right: 20px;
}

nav > ul {
  display: flex;
  padding: 0;
}

nav > ul > li {
  list-style: none;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #0C4324;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0 1rem;
}

/* .carousel {
  height: 850px;
} */

.carousel {
  width: 1060px; /* 円の直径 */
  height: 850px;
  /* overflow: hidden; ← これで画面からはみ出す部分を隠す */
  /* z-index: 1; */
}

.carousel div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100%;
  margin: 0;
  /* border-radius: 50%; */
}

.carousel div.carouselImg1 {
  background-image: url(../imag/top_main_Carousel/TOP-Carouselgroup1.png);
}
.carousel div.carouselImg2 {
  background-image: url(../imag/top_main_Carousel/TOP_CarouselGroup2.png);
}
.carousel div.carouselImg3 {
  background-image: url(../imag/top_main_Carousel/TOP_CarouselGroup3.png);
}
.carousel div.carouselImg4 {
  background-image: url(../imag/top_main_Carousel/TOP-Carouselgroup4.png);
}

.carousel .move {
  transform: translate(290px, -240px);
  background-position-x: -200px;
  height: 1270px;
  border-radius: 50% 0 0 50%;
}

.main-zukei {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
}

.main-text {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 3;
  writing-mode: vertical-rl;
  font-size: 2rem;
  color: #468459;
  letter-spacing: 1rem;
}

.main-text > span {
  border-right: 2px dashed #468459 ;
  
}

.main-text::before {
  content: "";
  position: absolute;
  bottom: 22%;
  left: 1%;
  width: 200px;
  height: 100%;
  background-image: url(../imag/zukei/ue.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
}

.main-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30%;
  width: 200px;
  height: 100%;
  background-image: url(../imag/zukei/shita.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}


.carousel .slick-dots li button:before {
  content: '';
  background-color: #468459;
  width: 30px;
  height: 10px;
  border-radius: 10px;
}

.carousel .slick-dots {
  text-align: right;
  bottom: 5%;
  right: 5%;
}

.carousel .slick-track {
  overflow: hidden;
}

.carousel .slick-list {
  overflow:visible;
}

/* ニュース */
#news-nakami {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.midashi {
  font-family: Noto Sans JP;
  font-size: 24px;
  font-weight: bold;
  color: #468459;
}

.midashi > span {
  font-size: 18px;
  font-weight: normal;
  padding-left: 0.6rem;
}

.hiduke {
  display: flex;
  
}

.tag {
  background-color: #468459;
  font-weight: normal;
}

.oshirase {
  color: #000;
}


/* コンセプト */
#about-nakami {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  
}

/* 左側 */
.concept-hidari {
  padding-right: 4%;
}

.con-icon::before {
  content: url('../imag/BGicon.png');
  width: 24px;
  height: 24px;
}

.con-icon > span {
  padding: 0;
}

.syokai {
  font-family: Noto Sans JP;
  font-weight: bold;
  font-size: 32px;
  color: #468459;
  line-height: 54px;
  padding: 1rem 0;
}

.bunsyo > p {
  font-family: Noto Sans JP;
  padding: 1rem 0;
}

.tugihe {
  color: #000;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  float: right;
}

/* 右側 */
.concept-migi {
  display: flex;
  align-items: center;
}

/* コンセプト背景 */
#about {
  position: relative;
  padding: 10% 0;
}

.haikei-title {
  font-family: Merriweather Sans;
  font-weight: 400;
  font-size: 133.94px;
  color: #DAE2C2;
  opacity: 0.25;
  position: absolute;
  top: 22%;
  left: 12%;
  z-index: -1;
}

.haikei-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
